@import './die.css';

:root {
    --bg-image: url("../assets/board.jpg");
    --card-width: 62.2px;
    --card-height: 85px;
    --card-border: 2px;
    --grid-margin: 5px;
}

* {
    margin:0;
    padding:0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: var(--bg-image);
    background-size: auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: var(--grid-margin) calc(var(--card-height) * 2 + var(--card-border) * 4 + 45px) auto calc(var(--card-height) * 2 + var(--card-border) * 4 + 45px) var(--grid-margin);
    grid-template-columns: var(--grid-margin) calc(var(--card-width) * 9 + var(--card-border) * 18 + 5px * 8) auto calc(var(--card-width) * 9 + var(--card-border) * 18 + 5px * 8) var(--grid-margin);
    grid-template-areas:
        ". . . . ."
        ". one . two ."
        ". left middle right ." 
        ". three . four ."
        ". . . . .";
}

#player1 {
    grid-area: one;
}
#player1 .slot {
    border-color:  white;
}
#player1 .soul {
    background-image: url("../assets/white_soul.png");
}
#player1 .full {
    background-color: white;
}

#player2 {
    grid-area: two;
}
#player2 .slot {
    border-color: #EF2917;
}
#player2 .soul {
    background-image: url("../assets/red_soul.png");
}
#player2 .full {
    background-color: #EF2917;
}

#player3 {
    grid-area: three;
}
#player3 .slot {
    border-color: #058ED9;
}
#player3 .soul {
    background-image: url("../assets/blue_soul.png");
}
#player3 .full {
    background-color: #058ED9;
}

#player4 {
    grid-area: four;
}
#player4 .slot {
    border-color: #1EFC1E;
}
#player4 .soul {
    background-image: url("../assets/green_soul.png");
}
#player4 .full {
    background-color: #1EFC1E;
}

.left {
    grid-area: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.middle {
    grid-area: middle;
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "character soul001"
        "starting-item soul002"
        "loot soul003";    
}

#character {
    grid-area: character;
}

#starting-item {
    grid-area: starting-item;
}

#loot {
    grid-area: loot;
}

#soul001 {
    grid-area: soul001;
}

#soul002 {
    grid-area: soul002;
}

#soul003 {
    grid-area: soul003;
}

.right {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#player1.set-up, #player2.set-up {
    display: grid;
    grid-template-rows: auto 40px;
    grid-template-columns: 100%;
    grid-template-areas:
        "set"
        "stats";
}

#player3.set-up, #player4.set-up {
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "stats"
        "set";
}

.set {
    grid-area: set;
}

.stats {
    grid-area: stats;
    width: calc(var(--card-width) * 5 + var(--card-border) * 10 + 4 * 5px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.stats > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.stats img {
    height: 100%;
    width: auto;
}

.stats img:hover {
    cursor: pointer;
}
  
.brightness {
    filter: brightness(0);
}

.row {
    width: 100%;
    height: calc(var(--card-height) + var(--card-border) * 2 + 2.5px);
    display: flex;
    justify-content: space-between;
}

.row:nth-child(odd) {
    align-items: flex-start;
}

.row:nth-child(even) {
    align-items: flex-end;
}

.slot {
    width: var(--card-width);
    height: var(--card-height);
}

.row .slot {    
    border-radius: 5px;
    border: var(--card-border) solid;
    opacity: 0.75;
}

.soul {    
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.flip {
    position: absolute !important;
    width: var(--card-width);
    height: var(--card-height);
}

.flip .card.flipped {
    transform: rotatey(-180deg);
}

.flip .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.flip .card .face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip .card .front {
    position: absolute;
    cursor: pointer;
}

.flip .card .back {
    transform: rotatey(-180deg);
    cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.hover {
  transform: scale(5);
}














#menu {
    display: block;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px lightgrey;
    position: absolute;
    transform-origin: center;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s, opacity 0.2s;
}
  
#menu.show {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
}
  
.menu-item {
    display: block;
    padding: 10px 30px;
    transition: 0.1s;
    color: #666;
}
  
.menu-item:hover {
    background-color: #eee;
    cursor: pointer;
}